
@{
    ViewBag.Title = "AssignRole";
}

<h2>AssignRole</h2>

@if (ViewBag.result != null)
{

}

@using (Html.BeginForm())
{
    <div>
        <label>User</label>
        <div>
            @Html.DropDownList("Userlist",@ViewBag.Userlist as SelectList,"Select User")
        </div>
    </div>
    <div>
        <label>Role</label>
        <div>
            @Html.DropDownList("RoleList",@ViewBag.RoleList as SelectList,"Select Role")
        </div>
    </div>
    <div>
        <input type="submit" value="Assign"/>
    </div>
}